                    <ul>
                        <li>A Totally New Pastebin Powered by 25wyrw CDN</li>
                        <li>Hope you will enjoy! Register now!</li>
                        <li>Author(NickName): Purd.0ch1g2</li>
                    </ul>